@charset "UTF-8";
body, ul, li, dl, dt, dd, p, ol, h1, h2, h3, h4, h5, h6, form, img, table, fieldset, legend, figure, figcaption {
  margin: 0;
  padding: 0; }

ul, li, ol {
  list-style: none; }

img, fieldset {
  border: 0; }

img {
  display: block; }

a {
  text-decoration: none;
  color: #333; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 100; }

body {
  font-family: "微软雅黑"; }

input {
  outline: none; }

@font-face {
  font-family: one;
  src: url(../font/iconfont.ttf), url(../font/iconfont.svg), url(../font/iconfont.woff), url(../font/iconfont.eot); }
em {
  font-family: one;
  font-style: normal; }

#top {
  width: 100%;
  background: pink;
  border-bottom: 1px solid #cccccc;
  background: #f7f7f7; }

.top, .header, .banner, .fan, .fall, .fall-content, .youx, .xiaz, .jinp, .server, .footer-f3, .lg-1, .xian2, .lg-content, .zc-content, .nav-list, .jk-warp, .ttu, .back-s, .det-ban, .xqjs, .mtt-1, .pl {
  width: 1202px;
  margin: 0 auto; }

.top {
  height: 33px; }
  .top ul {
    float: right; }
    .top ul li {
      float: left;
      position: relative;
      margin-right: 14px;
      line-height: 33px;
      font-size: 12px;
      color: #808080; }
      .top ul li a {
        text-decoration: none;
        font-size: 12px;
        color: #808080; }
    .top ul li:nth-child(6) a {
      background: url(../img/index/notice.png) no-repeat left center;
      padding-left: 26px; }
    .top ul li:last-child {
      margin-right: 0;
      width: 42px;
      height: 33px;
      line-height: 33px;
      cursor: pointer; }
      .top ul li:last-child span:first-child {
        display: inline-block;
        width: 18px;
        height: 18px;
        background: url(../img/index/w1.jpg) no-repeat left center;
        margin-top: 7px; }
      .top ul li:last-child span:last-child {
        display: inline-block;
        width: 18px;
        height: 18px;
        background: url(../img/index/w2.jpg) no-repeat right center; }
    .top ul li:first-child {
      margin-right: 20px; }
  .top .wxer {
    width: 150px;
    height: 159px;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    display: none;
    position: absolute;
    right: 20px;
    top: 32px;
    padding-top: 9px;
    background: #fff;
    z-index: 999; }
    .top .wxer img {
      width: 117px;
      height: 117px;
      display: block;
      border: 0;
      margin: 0 auto; }
    .top .wxer b {
      font-weight: 100;
      font-size: 12px;
      color: #686868;
      display: block;
      text-align: center;
      height: 22px;
      width: 148px;
      line-height: 22px; }
    .top .wxer #w {
      width: 148px;
      height: 22px;
      background: #bc211c;
      display: block;
      text-align: center;
      line-height: 22px;
      font-size: 14px;
      color: #fff;
      letter-spacing: 10px;
      text-indent: 3px; }

.header {
  height: 138px;
  background: #fff;
  padding-top: 28px;
  position: relative; }
  .header .car {
    float: right;
    width: 108px;
    height: 30px;
    position: relative;
    background: url(../img/index/vanclsprite.png) no-repeat -153px 0;
    box-sizing: border-box;
    border: 1px solid #c1383e;
    line-height: 30px;
    text-indent: 40px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    margin-left: 22px;
    z-index: 100; }
  .header .car-xd {
    display: none;
    position: absolute;
    top: 57px;
    right: 0;
    height: 20px;
    width: 315px;
    font-size: 12px;
    color: #333;
    border: 1px solid #a10000;
    background: #fff;
    text-indent: 4px; }
  .header form {
    width: 310px;
    height: 30px;
    border: 1px solid #c9caca;
    box-sizing: border-box;
    border-right: 0;
    float: right; }
    .header form input:first-child {
      width: 260px;
      height: 28px;
      border: 0;
      box-sizing: border-box;
      float: left;
      font-size: 12px;
      color: #000;
      text-indent: 5px; }
    .header form input:last-child {
      margin-top: -1px;
      width: 49px;
      height: 30px;
      box-sizing: border-box;
      border: 1px solid #c9caca;
      background: #b81c20;
      float: left;
      font-size: 14px;
      color: #fff; }
  .header .hot {
    height: 28px;
    float: right;
    width: 440px;
    clear: both;
    text-indent: 2px; }
    .header .hot li {
      float: left;
      line-height: 28px;
      margin-left: 11px;
      font-size: 12px;
      color: #727171; }
      .header .hot li a {
        font-size: 12px;
        color: #727171;
        text-decoration: none; }
  .header .nav {
    width: 100%;
    clear: both;
    float: right;
    height: 80px; }
    .header .nav .logo {
      width: 184px;
      height: 44px;
      margin-top: 4px;
      margin-left: 2px;
      float: left; }
      .header .nav .logo img {
        border: #000000;
        display: block; }
    .header .nav .navbar {
      float: left;
      margin-left: 10px; }
      .header .nav .navbar li {
        float: left;
        height: 80px; }
        .header .nav .navbar li a {
          display: block;
          width: 98px;
          height: 18px;
          font-size: 16px;
          border-right: 1px solid #727171;
          text-align: center;
          margin-top: 30px;
          color: #727171;
          position: relative; }
          .header .nav .navbar li a .erji {
            width: 98px;
            background: #fff;
            border-top: 5px solid #b71c22;
            position: absolute;
            top: 27px;
            left: 0;
            padding-top: 7px;
            display: none;
            z-index: 999; }
            .header .nav .navbar li a .erji span {
              display: block;
              text-align: center;
              line-height: 35px;
              font-size: 16px;
              color: #727070; }
            .header .nav .navbar li a .erji span:hover {
              color: #b71c22; }
      .header .nav .navbar li:last-child a {
        border: 0; }

.server {
  height: 286px;
  margin-bottom: 25px;
  box-sizing: border-box;
  border: 1px solid #e0e0e1;
  padding-left: 42px;
  padding-right: 42px; }
  .server .ser-s {
    height: 161px;
    padding-top: 35px; }
    .server .ser-s a:first-child {
      border-right: 1px solid #e0e0e1;
      width: 370px;
      height: 140px;
      float: left;
      overflow: hidden; }
      .server .ser-s a:first-child .ser-s1 {
        display: block;
        width: 36px;
        height: 40px;
        margin: 15px auto;
        background: url(../img/index/onlinecustomer.png) no-repeat center top; }
      .server .ser-s a:first-child .kf {
        overflow: hidden; }
        .server .ser-s a:first-child .kf .ser-s2 {
          width: 156px;
          height: 32px;
          background: #b81c22;
          display: block;
          margin: 18px auto;
          font-size: 12px;
          color: #ffffff;
          text-align: center;
          line-height: 32px; }
    .server .ser-s a:nth-child(2) {
      width: 372px;
      height: 140px;
      float: left;
      border-right: 1px solid #e0e0e1; }
      .server .ser-s a:nth-child(2) .ser-s3 {
        width: 40px;
        height: 40px;
        display: block;
        margin: 20px auto;
        background: url(../img/index/seven.png) no-repeat center top; }
      .server .ser-s a:nth-child(2) .ser-s4 {
        font-size: 12px;
        color: #727171;
        display: block;
        width: 124px;
        height: 54px;
        margin: 0 auto;
        text-align: center;
        line-height: 26px; }
    .server .ser-s p {
      width: 372px;
      height: 140px;
      float: left; }
      .server .ser-s p .ser-s5 {
        display: block;
        width: 100px;
        height: 100px;
        margin: 3px auto 14px;
        background: url(../img/index/2014_8_29_16_39_33_7709.jpg) no-repeat center/cover; }
      .server .ser-s p .ser-s6 {
        font-size: 12px;
        color: #727171;
        display: block;
        width: 126px;
        height: 20px;
        margin: 0 auto;
        text-align: center;
        line-height: 20px; }
        .server .ser-s p .ser-s6 .ser-s66 {
          font-weight: 100;
          color: #a10000; }
  .server .ser-x {
    height: 60px;
    background: #f8f8f8; }
    .server .ser-x li {
      float: left;
      height: 26px;
      border-right: 1px solid #dadadb;
      padding-left: 64px;
      padding-right: 64px;
      margin-top: 18px;
      line-height: 26px; }
      .server .ser-x li a {
        font-size: 12px;
        color: #323232; }
    .server .ser-x li:last-child {
      border-right: 0; }

.xian {
  height: 1px;
  background: #000;
  width: 100%;
  margin-bottom: 10px; }

.footer-f1 {
  width: 100%;
  height: 25px;
  margin-top: 10px;
  font-size: 12px;
  color: #3e3a39;
  text-align: center;
  line-height: 25px; }

.footer-f2 {
  width: 100%;
  height: 25px;
  font-size: 12px;
  color: #3e3a39;
  text-align: center;
  line-height: 25px; }

.footer-f3 {
  height: 46px;
  width: 730px;
  margin: 30px auto 25px; }
  .footer-f3 a {
    margin-right: 20px; }
  .footer-f3 a:first-child {
    display: inline-block;
    margin-top: 4px;
    width: 114px;
    height: 42px;
    background: url(../img/index/spritesbgtop.png) no-repeat 0px -582px; }
  .footer-f3 a:nth-child(2) {
    display: inline-block;
    width: 156px;
    height: 46px;
    background: url(../img/index/spritesbgtop.png) no-repeat 0px -629px; }
  .footer-f3 a:nth-child(3) {
    display: inline-block;
    margin-top: 4px;
    width: 92px;
    height: 42px;
    background: url(../img/index/spritesbgtop.png) no-repeat 0px -674px; }
  .footer-f3 a:nth-child(4) {
    display: inline-block;
    margin-top: 4px;
    width: 100px;
    height: 42px;
    background: url(../img/index/spritesbgtop.png) no-repeat -97px -674px; }
  .footer-f3 a:nth-child(5) {
    display: inline-block;
    margin-top: 4px;
    width: 42px;
    height: 42px;
    background: url(../img/index/spritesbgtop.png) no-repeat -202px -674px; }
  .footer-f3 a:nth-child(6) {
    display: inline-block;
    margin-top: 4px;
    width: 102px;
    height: 42px;
    background: url(../img/index/kexin_brand_for_others.png) no-repeat center/cover;
    margin-right: 0; }

.hui {
  width: 76px;
  height: 206px;
  position: fixed;
  left: 1240px;
  bottom: 50px;
  z-index: 33; }
  .hui li:first-child a {
    display: block;
    width: 76px;
    height: 78px;
    background: url(../img/index/baywindow.png) no-repeat 0 0; }
  .hui li:nth-child(2) a {
    display: block;
    width: 76px;
    height: 72px;
    background: url(../img/index/baywindow.png) no-repeat 0 -77px; }
  .hui li:nth-child(3) {
    cursor: pointer;
    width: 76px;
    height: 56px;
    background: url(../img/index/baywindow.png) no-repeat 0 -149px; }

.det-ban {
  height: 552px;
  margin-bottom: 60px; }
  .det-ban .det-head {
    width: 100%;
    height: 75px; }
    .det-ban .det-head .det-heads {
      height: 30px;
      line-height: 30px;
      color: #333333;
      font-size: 12px; }
      .det-ban .det-head .det-heads span {
        margin-left: 10px;
        margin-right: 15px; }
    .det-ban .det-head .det-headx {
      height: 45px; }
      .det-ban .det-head .det-headx .det-headx-l {
        float: left;
        height: 45px; }
        .det-ban .det-head .det-headx .det-headx-l h2 {
          font-size: 18px;
          color: #333333;
          display: inline-block;
          line-height: 45px;
          margin-left: 12px;
          margin-right: 16px;
          font-weight: 900; }
        .det-ban .det-head .det-headx .det-headx-l span {
          font-size: 12px;
          color: #a10000; }
      .det-ban .det-head .det-headx .det-headx-r {
        float: right;
        line-height: 45px;
        font-size: 14px;
        color: #808080;
        margin-right: 7px; }
        .det-ban .det-head .det-headx .det-headx-r a {
          font-size: 14px;
          color: #808080;
          margin-left: 12px;
          margin-right: 19px; }
    .det-ban .det-head .det-headx-2 {
      left: 0px;
      position: fixed;
      width: 100%;
      background: #fff;
      top: 0;
      border: 1px solid #e6e8e9;
      box-sizing: border-box;
      display: none; }
      .det-ban .det-head .det-headx-2 .det-headx-r-r {
        float: right;
        margin-top: 5px;
        width: 168px;
        height: 33px;
        margin-right: 10px;
        cursor: pointer;
        background: url(../img/detail/vanclsprite.png) no-repeat -167px -285px; }
  .det-ban .det-con {
    height: 438px;
    border: 1px solid #e5e6e6;
    border-left: 0;
    border-right: 0;
    padding-top: 38px; }
    .det-ban .det-con .det-con-lt {
      float: left;
      width: 635px;
      height: 100%; }
      .det-ban .det-con .det-con-lt .det-f-lt {
        width: 74px;
        height: 100%;
        float: left; }
        .det-ban .det-con .det-con-lt .det-f-lt span {
          width: 72px;
          height: 72px;
          box-sizing: border-box;
          border: 1px solid #b4b4b4;
          display: block;
          margin-bottom: 10px;
          padding: 1px;
          cursor: pointer; }
          .det-ban .det-con .det-con-lt .det-f-lt span img {
            width: 68px;
            height: 68px;
            display: block;
            border: 0; }
      .det-ban .det-con .det-con-lt .det-f-rt {
        width: 560px;
        height: 100%;
        float: left; }
        .det-ban .det-con .det-con-lt .det-f-rt .smallpic {
          position: relative;
          width: 404px;
          height: 404px;
          box-sizing: border-box;
          border: 1px solid #e5e6e6;
          margin-left: 80px;
          margin-right: 80px;
          cursor: crosshair; }
          .det-ban .det-con .det-con-lt .det-f-rt .smallpic .mark {
            width: 404px;
            height: 404px;
            background: red;
            opacity: 0;
            filter: alpha(opacity=0);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 4; }
          .det-ban .det-con .det-con-lt .det-f-rt .smallpic .float {
            width: 224px;
            height: 204px;
            border: 1px solid #ececed;
            background: #dbdee5;
            opacity: 0.5;
            filter: alpha(opacity=50);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
            display: none; }
          .det-ban .det-con .det-con-lt .det-f-rt .smallpic .smp {
            display: block;
            border: 0;
            width: 100%;
            height: 100%; }
          .det-ban .det-con .det-con-lt .det-f-rt .smallpic .bigpic {
            display: none;
            width: 444px;
            height: 404px;
            box-sizing: border-box;
            border: 1px solid #000;
            position: absolute;
            top: -20px;
            left: 408px;
            overflow: hidden;
            z-index: 100; }
            .det-ban .det-con .det-con-lt .det-f-rt .smallpic .bigpic img {
              display: block;
              border: 0;
              position: absolute;
              top: 0;
              left: 0; }
        .det-ban .det-con .det-con-lt .det-f-rt .smallpic2 {
          display: none;
          position: relative;
          width: 404px;
          height: 404px;
          box-sizing: border-box;
          border: 1px solid #e5e6e6;
          margin-left: 80px;
          margin-right: 80px;
          cursor: crosshair; }
          .det-ban .det-con .det-con-lt .det-f-rt .smallpic2 .mark1 {
            width: 404px;
            height: 404px;
            background: red;
            opacity: 0;
            filter: alpha(opacity=0);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 4; }
          .det-ban .det-con .det-con-lt .det-f-rt .smallpic2 .float {
            width: 224px;
            height: 204px;
            border: 1px solid #ececed;
            background: #dbdee5;
            opacity: 0.5;
            filter: alpha(opacity=50);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
            display: none; }
          .det-ban .det-con .det-con-lt .det-f-rt .smallpic2 .smp {
            display: block;
            border: 0;
            width: 100%;
            height: 100%; }
          .det-ban .det-con .det-con-lt .det-f-rt .smallpic2 .bigpic {
            display: none;
            width: 444px;
            height: 404px;
            box-sizing: border-box;
            border: 1px solid #000;
            position: absolute;
            top: -20px;
            left: 408px;
            overflow: hidden;
            z-index: 100; }
            .det-ban .det-con .det-con-lt .det-f-rt .smallpic2 .bigpic img {
              display: block;
              border: 0;
              position: absolute;
              top: 0;
              left: 0; }
    .det-ban .det-con .det-con-rt {
      float: left;
      width: 450px;
      height: 100%; }
      .det-ban .det-con .det-con-rt .rt-s-top {
        height: 36px;
        line-height: 36px;
        font-size: 12px;
        color: #a10000; }
        .det-ban .det-con .det-con-rt .rt-s-top .y {
          margin-left: 8px; }
        .det-ban .det-con .det-con-rt .rt-s-top a {
          font-size: 12px;
          color: #a10000;
          margin-left: 20px; }
        .det-ban .det-con .det-con-rt .rt-s-top b {
          font-size: 20px;
          font-weight: 400; }
      .det-ban .det-con .det-con-rt .ys-t {
        height: 56px;
        padding-top: 12px;
        font-size: 12px;
        color: #666666; }
        .det-ban .det-con .det-con-rt .ys-t b {
          font-weight: 400; }
        .det-ban .det-con .det-con-rt .ys-t .xys {
          cursor: pointer;
          padding: 1px;
          display: inline-block;
          width: 92px;
          height: 34px;
          border: 1px solid #b4b4b4;
          padding: 2px;
          text-indent: 46px;
          line-height: 22px;
          background-clip: padding-box;
          background-origin: padding-box;
          background: url(../img/detail/joinimages.jpg) no-repeat 0 0px; }
        .det-ban .det-con .det-con-rt .ys-t .xys1 {
          background: url(../img/detail/joinimages.jpg) no-repeat 0 -36px; }
        .det-ban .det-con .det-con-rt .ys-t .xys2 {
          background: url(../img/detail/joinimages.jpg) no-repeat 0 -72px; }
        .det-ban .det-con .det-con-rt .ys-t .xys3 {
          background: url(../img/detail/joinimages.jpg) no-repeat 0 -108px; }
        .det-ban .det-con .det-con-rt .ys-t .xys5 {
          border: 1px solid #a10000; }
      .det-ban .det-con .det-con-rt .xcm {
        height: 40px;
        font-size: 12px;
        color: #666666; }
        .det-ban .det-con .det-con-rt .xcm .cc {
          cursor: pointer;
          color: #000;
          margin-left: 5px;
          display: inline-block;
          height: 29px;
          border: 1px solid #c8c8c8;
          margin-top: 7px;
          line-height: 30px;
          text-align: center; }
          .det-ban .det-con .det-con-rt .xcm .cc b {
            margin-left: 10px;
            margin-right: 10px;
            font-weight: 400; }
        .det-ban .det-con .det-con-rt .xcm .cc1 {
          border: 1px solid #a10000; }
      .det-ban .det-con .det-con-rt .xsl {
        height: 48px;
        font-size: 12px;
        color: #666666;
        line-height: 48px; }
        .det-ban .det-con .det-con-rt .xsl select {
          width: 54px;
          height: 20px;
          border: 1px solid #aaaaaa;
          margin-left: 8px; }
      .det-ban .det-con .det-con-rt .yxys {
        height: 24px;
        line-height: 24px;
        font-size: 12px;
        color: #666666; }
        .det-ban .det-con .det-con-rt .yxys span {
          margin-left: 7px;
          margin-right: 7px; }
        .det-ban .det-con .det-con-rt .yxys span:last-child {
          color: #a10000; }
      .det-ban .det-con .det-con-rt .gm {
        height: 60px;
        width: 350px;
        position: relative; }
        .det-ban .det-con .det-con-rt .gm .gm-con {
          font-size: 12px;
          color: #a50309;
          text-align: center;
          width: 170px;
          height: 34px;
          border: 1px solid #a50309;
          margin-top: 14px;
          line-height: 34px;
          box-sizing: border-box; }
        .det-ban .det-con .det-con-rt .gm .gm-first {
          float: left;
          background: #f7abaf; }
        .det-ban .det-con .det-con-rt .gm .gm-last {
          float: right;
          background: url(../img/detail/vanclsprite.png) no-repeat -147px -285px;
          border: 0; }
        .det-ban .det-con .det-con-rt .gm .carshop {
          z-index: 99999;
          width: 500px;
          height: 160px;
          display: none;
          position: absolute;
          top: -2px;
          left: -1px;
          background: #fff; }
          .det-ban .det-con .det-con-rt .gm .carshop h3 {
            width: 500px;
            height: 44px;
            background: #b91a22;
            font-size: 16px;
            color: #fff;
            font-weight: 300;
            text-indent: 30px;
            line-height: 44px;
            position: relative; }
            .det-ban .det-con .det-con-rt .gm .carshop h3 span {
              display: block;
              width: 17px;
              height: 14px;
              position: absolute;
              right: 30px;
              top: 14px;
              cursor: pointer;
              background: url(../img/detail/vanclsprite.png) no-repeat -368px -113px; }
          .det-ban .det-con .det-con-rt .gm .carshop .car-car {
            width: 500px;
            height: 116px;
            border: 1px solid #b91a22;
            border-top: 0;
            box-sizing: border-box;
            padding: 20px 30px 0 30px; }
            .det-ban .det-con .det-con-rt .gm .carshop .car-car div {
              float: left; }
            .det-ban .det-con .det-con-rt .gm .carshop .car-car .car-lt {
              width: 75px;
              height: 75px;
              background: url(../img/detail/vanclsprite.png) no-repeat -232px -120px; }
            .det-ban .det-con .det-con-rt .gm .carshop .car-car .car-con {
              width: 167px;
              height: 61px;
              margin: 0 16px 0;
              padding-top: 14px; }
              .det-ban .det-con .det-con-rt .gm .carshop .car-car .car-con .car-con-lt {
                width: 1px;
                height: 36px;
                background: #b91c22;
                float: left;
                margin-right: 18px;
                margin-top: 5px; }
              .det-ban .det-con .det-con-rt .gm .carshop .car-car .car-con .car-con-rt {
                float: left;
                width: 148px;
                height: 44px; }
                .det-ban .det-con .det-con-rt .gm .carshop .car-car .car-con .car-con-rt p {
                  height: 22px;
                  line-height: 22px;
                  color: #020102;
                  font-size: 14px; }
                  .det-ban .det-con .det-con-rt .gm .carshop .car-car .car-con .car-con-rt p span {
                    float: left; }
                  .det-ban .det-con .det-con-rt .gm .carshop .car-car .car-con .car-con-rt p .number {
                    color: #b91c22; }
            .det-ban .det-con .det-con-rt .gm .carshop .car-car .car-rt {
              width: 164px;
              height: 33px;
              margin-top: 19px; }
              .det-ban .det-con .det-con-rt .gm .carshop .car-car .car-rt a {
                width: 82px;
                height: 33px;
                line-height: 33px;
                text-align: center;
                font-size: 14px;
                float: left; }
                .det-ban .det-con .det-con-rt .gm .carshop .car-car .car-rt a:hover {
                  text-decoration: underline; }
              .det-ban .det-con .det-con-rt .gm .carshop .car-car .car-rt a:first-child {
                background: #f0eff0;
                color: #727070; }
              .det-ban .det-con .det-con-rt .gm .carshop .car-car .car-rt a:last-child {
                background: #b91c22;
                color: #fff; }
      .det-ban .det-con .det-con-rt .yht {
        height: 50px;
        width: 402px;
        padding-top: 5px;
        border-bottom: 1px solid #a20000; }
        .det-ban .det-con .det-con-rt .yht h4 {
          font-size: 100%;
          text-align: center;
          width: 400px;
          height: 4px;
          line-height: 14px;
          position: relative;
          border-bottom: 1px solid #a20000;
          margin-top: 4px;
          margin-bottom: 10px; }
          .det-ban .det-con .det-con-rt .yht h4 span {
            color: #a20000;
            font-size: 12px;
            position: absolute;
            left: 167px;
            top: -4px;
            background: #fff;
            width: 67px; }
        .det-ban .det-con .det-con-rt .yht .mys {
          font-size: 12px;
          color: #ffffff;
          display: inline-block;
          width: 36px;
          height: 16px;
          background: #a20000;
          text-align: center; }
        .det-ban .det-con .det-con-rt .yht .mds {
          font-size: 12px;
          color: #666666; }

.xqjs {
  font-size: 12px;
  color: #999999;
  line-height: 22px; }

.mtt {
  height: 168px;
  background: url(../img/detail/6377993_01.jpg) no-repeat 0 0; }

.mtt1 {
  height: 642px;
  background-image: url(../img/detail/6377993_02.jpg), url(../img/detail/6377993_03.jpg);
  background-repeat: no-repeat;
  background-position: left top,left bottom; }

.mtt2 {
  height: 704px;
  background-image: url(../img/detail/6377993_04.jpg), url(../img/detail/6377993_05.jpg);
  background-repeat: no-repeat;
  background-position: left top,left bottom; }

.mtt3 {
  height: 684px;
  background-image: url(../img/detail/6377993_06.jpg), url(../img/detail/6377993_07.jpg);
  background-repeat: no-repeat;
  background-position: left top,left bottom; }

.mtt4 {
  height: 684px;
  background-image: url(../img/detail/6377993_08.jpg), url(../img/detail/6377993_09.jpg);
  background-repeat: no-repeat;
  background-position: left top,left bottom; }

.mtt5 {
  height: 884px;
  background-image: url(../img/detail/6377993_10.jpg), url(../img/detail/6377993_11.jpg);
  background-repeat: no-repeat;
  background-position: left top,left bottom; }

.mtt6 {
  height: 792px;
  background-image: url(../img/detail/6377993_12.jpg), url(../img/detail/6377993_13.jpg);
  background-repeat: no-repeat;
  background-position: left top,left bottom; }

.mtt7 {
  height: 840px;
  background-image: url(../img/detail/6377993_14.jpg), url(../img/detail/6377993_15.jpg);
  background-repeat: no-repeat;
  background-position: left top,left bottom;
  margin-top: -11px; }

.mtt8 {
  height: 730px;
  background-image: url(../img/detail/nvm_01.jpg), url(../img/detail/nvm_02.jpg);
  background-repeat: no-repeat;
  background-position: left top,left bottom; }

.mtt9 {
  height: 740px;
  background-image: url(../img/detail/nvm_03.jpg), url(../img/detail/nvm_04.jpg);
  background-repeat: no-repeat;
  background-position: left top,left bottom; }

.mtt10 {
  height: 643px;
  background: url(../img/detail/nvm_05.jpg) no-repeat 0 0; }

.mtt11 {
  height: 716px;
  background-image: url(../img/detail/nvm_06.jpg), url(../img/detail/nvm_07.jpg);
  background-repeat: no-repeat;
  background-position: left top,left bottom; }

.mtt12 {
  height: 862px;
  background-image: url(../img/detail/nvm_08.jpg), url(../img/detail/nvm_09.jpg);
  background-repeat: no-repeat;
  background-position: left top,left bottom; }

.mtt13 {
  height: 1839px; }
  .mtt13 img {
    display: block;
    border: 0; }

.gmzn {
  height: 140px;
  background: url(../img/detail/6377993_16.jpg) no-repeat 0 0; }

.cpcm {
  height: 460px;
  background: url(../img/detail/6377993_17.jpg) no-repeat 0 0; }

.cpb {
  height: 470px;
  background: url(../img/detail/1_02.jpg) no-repeat 0 0; }

.cpzs {
  height: 460px;
  background: url(../img/detail/6377993_19.jpg) no-repeat 0 0; }

.spjs {
  height: 126px;
  background: url(../img/detail/6377993_20.jpg) no-repeat 0 0; }

.spjs1 {
  height: 993px; }
  .spjs1 img {
    display: block;
    border: 0; }

.spjs2 {
  height: 1746px; }
  .spjs2 img {
    display: block;
    border: 0; }

.sjgy {
  height: 116px;
  background: url(../img/detail/6377993_29.jpg) no-repeat 0 0; }

.sjgy1 {
  height: 2088px; }
  .sjgy1 img {
    display: block;
    border: 0; }

.pl {
  min-height: 300px;
  height: auto !important;
  height: 300px;
  overflow: hidden;
  margin-bottom: 42px; }
  .pl .pl-lt {
    height: 1166px;
    width: 193px;
    float: left;
    border: 1px solid #bbbbbb;
    box-sizing: border-box; }
    .pl .pl-lt h3 {
      height: 42px;
      border-bottom: 1px solid #bbbbbb;
      font-size: 12px;
      color: #333333;
      line-height: 42px;
      text-indent: 24px; }
    .pl .pl-lt li {
      width: 160px;
      height: 215px;
      text-align: center;
      margin-top: 5px;
      margin-left: 14px; }
      .pl .pl-lt li img {
        display: block;
        border: 0;
        width: 160px;
        height: 160px; }
      .pl .pl-lt li a {
        font-size: 12px;
        color: #808080;
        text-align: center;
        line-height: 20px;
        display: block; }
      .pl .pl-lt li span {
        font-size: 12px;
        color: #A10000;
        display: block; }
  .pl .pl-rt {
    width: 982px;
    float: right;
    border: 1px solid #bbbbbb;
    box-sizing: border-box;
    overflow: hidden;
    padding-bottom: 44px; }
    .pl .pl-rt h2 {
      height: 42px;
      border-bottom: 1px solid #bbbbbb;
      line-height: 42px;
      font-size: 14px;
      color: #333333;
      text-indent: 26px; }
      .pl .pl-rt h2 p {
        float: left; }
      .pl .pl-rt h2 input {
        margin-left: 11px; }
      .pl .pl-rt h2 span:first-child {
        font-weight: 500; }
      .pl .pl-rt h2 a {
        width: 120px;
        height: 33px;
        background: #d46a6a;
        float: right;
        color: #ffffff;
        margin-right: 33px;
        margin-top: 5px;
        line-height: 33px; }
    .pl .pl-rt dl {
      width: 918px;
      height: 166px;
      border-bottom: 1px dotted #b4b4b4;
      margin-left: 34px; }
      .pl .pl-rt dl dt {
        width: 760px;
        height: 166px;
        float: left;
        border-right: 1px dotted #b4b4b4;
        box-sizing: border-box; }
        .pl .pl-rt dl dt .dt-lt {
          float: left;
          height: 146px;
          padding-top: 20px; }
          .pl .pl-rt dl dt .dt-lt span {
            display: block;
            line-height: 32px;
            color: #333333;
            font-size: 12px; }
          .pl .pl-rt dl dt .dt-lt .riq-spa {
            color: #b4b4b4; }
        .pl .pl-rt dl dt .dt-rt {
          padding-top: 20px;
          float: right;
          margin-right: 70px;
          height: 146px;
          width: 72px;
          font-size: 12px;
          color: #333333;
          line-height: 20px; }
          .pl .pl-rt dl dt .dt-rt span {
            display: block; }
      .pl .pl-rt dl dd {
        width: 158px;
        height: 100%;
        float: right;
        display: flex; }
        .pl .pl-rt dl dd p {
          width: 90px;
          height: 50px;
          font-size: 12px;
          margin: auto; }
          .pl .pl-rt dl dd p a {
            color: #333;
            line-height: 35px; }
          .pl .pl-rt dl dd p span {
            display: block;
            width: 44px;
            height: 15px;
            margin: 0 auto;
            background: url(../img/detail/userlevelgrowth_42_14.jpg) no-repeat 0 0; }
  .pl .pl-rt-x {
    margin-top: 20px; }
    .pl .pl-rt-x .twhz {
      width: 918px;
      height: 106px;
      margin-left: 34px;
      padding-top: 20px;
      border-bottom: 1px dotted #b4b4b4; }
      .pl .pl-rt-x .twhz .tw-head {
        height: 22px;
        color: #333333;
        font-size: 12px;
        float: left; }
        .pl .pl-rt-x .twhz .tw-head span:first-child {
          font-size: 16px;
          display: inline-block;
          width: 22px;
          height: 22px;
          background: #a10000;
          text-align: center;
          line-height: 22px;
          color: #fff; }
      .pl .pl-rt-x .twhz .tw-head2 {
        float: right;
        color: #7c7b7b;
        font-size: 12px;
        display: inline-block; }
        .pl .pl-rt-x .twhz .tw-head2 b {
          font-weight: 100;
          margin-right: 24px; }
      .pl .pl-rt-x .twhz .tw-foot {
        float: left;
        margin-top: 30px;
        font-size: 12px;
        color: #7c7b7b;
        line-height: 20px; }
        .pl .pl-rt-x .twhz .tw-foot span:first-child {
          font-size: 16px;
          display: inline-block;
          width: 22px;
          height: 22px;
          background: #a10000;
          text-align: center;
          line-height: 22px;
          color: #fff;
          margin-right: 12px; }

/*# sourceMappingURL=detail.css.map */
