@charset "UTF-8";
body, ul, li, dl, dt, dd, p, ol, h1, h2, h3, h4, h5, h6, form, img, table, fieldset, legend, figure, figcaption {
  margin: 0;
  padding: 0; }

ul, li, ol {
  list-style: none; }

img, fieldset {
  border: 0; }

img {
  display: block; }

a {
  text-decoration: none;
  color: #333; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 100; }

body {
  font-family: "微软雅黑"; }

input {
  outline: none; }

@font-face {
  font-family: one;
  src: url(../font/iconfont.ttf), url(../font/iconfont.svg), url(../font/iconfont.woff), url(../font/iconfont.eot); }
em {
  font-family: one;
  font-style: normal; }

#top {
  width: 100%;
  background: pink;
  border-bottom: 1px solid #cccccc;
  background: #f7f7f7; }

.top, .header, .banner, .fan, .fall, .fall-content, .youx, .xiaz, .jinp, .server, .footer-f3, .lg-1, .xian2, .lg-content, .zc-content, .nav-list, .jk-warp, .ttu, .back-s, .det-ban, .xqjs, .mtt-1, .pl {
  width: 1202px;
  margin: 0 auto; }

.top {
  height: 33px; }
  .top ul {
    float: right; }
    .top ul li {
      float: left;
      position: relative;
      margin-right: 14px;
      line-height: 33px;
      font-size: 12px;
      color: #808080; }
      .top ul li a {
        text-decoration: none;
        font-size: 12px;
        color: #808080; }
    .top ul li:nth-child(6) a {
      background: url(../img/index/notice.png) no-repeat left center;
      padding-left: 26px; }
    .top ul li:last-child {
      margin-right: 0;
      width: 42px;
      height: 33px;
      line-height: 33px;
      cursor: pointer; }
      .top ul li:last-child span:first-child {
        display: inline-block;
        width: 18px;
        height: 18px;
        background: url(../img/index/w1.jpg) no-repeat left center;
        margin-top: 7px; }
      .top ul li:last-child span:last-child {
        display: inline-block;
        width: 18px;
        height: 18px;
        background: url(../img/index/w2.jpg) no-repeat right center; }
    .top ul li:first-child {
      margin-right: 20px; }
  .top .wxer {
    width: 150px;
    height: 159px;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    display: none;
    position: absolute;
    right: 20px;
    top: 32px;
    padding-top: 9px;
    background: #fff;
    z-index: 999; }
    .top .wxer img {
      width: 117px;
      height: 117px;
      display: block;
      border: 0;
      margin: 0 auto; }
    .top .wxer b {
      font-weight: 100;
      font-size: 12px;
      color: #686868;
      display: block;
      text-align: center;
      height: 22px;
      width: 148px;
      line-height: 22px; }
    .top .wxer #w {
      width: 148px;
      height: 22px;
      background: #bc211c;
      display: block;
      text-align: center;
      line-height: 22px;
      font-size: 14px;
      color: #fff;
      letter-spacing: 10px;
      text-indent: 3px; }

.header {
  height: 138px;
  background: #fff;
  padding-top: 28px; }
  .header .car {
    float: right;
    width: 108px;
    height: 30px;
    background: #b81b22;
    box-sizing: border-box;
    border: 1px solid #c1383e;
    line-height: 30px;
    text-indent: 6px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    margin-left: 22px; }
  .header form {
    width: 310px;
    height: 30px;
    border: 1px solid #c9caca;
    box-sizing: border-box;
    border-right: 0;
    float: right; }
    .header form input:first-child {
      width: 260px;
      height: 28px;
      border: 0;
      box-sizing: border-box;
      float: left;
      font-size: 12px;
      color: #000;
      text-indent: 5px; }
    .header form input:last-child {
      margin-top: -1px;
      width: 49px;
      height: 30px;
      box-sizing: border-box;
      border: 1px solid #c9caca;
      background: #b81c20;
      float: left;
      font-size: 14px;
      color: #fff; }
  .header .hot {
    height: 28px;
    float: right;
    width: 440px;
    clear: both;
    text-indent: 2px; }
    .header .hot li {
      float: left;
      line-height: 28px;
      margin-left: 11px;
      font-size: 12px;
      color: #727171; }
      .header .hot li a {
        font-size: 12px;
        color: #727171;
        text-decoration: none; }
  .header .nav {
    width: 100%;
    clear: both;
    float: right;
    height: 80px; }
    .header .nav .logo {
      width: 184px;
      height: 44px;
      margin-top: 4px;
      margin-left: 2px;
      float: left; }
      .header .nav .logo img {
        border: #000000;
        display: block; }
    .header .nav .navbar {
      float: left;
      margin-left: 10px; }
      .header .nav .navbar li {
        float: left;
        height: 80px; }
        .header .nav .navbar li a {
          display: block;
          width: 98px;
          height: 18px;
          font-size: 16px;
          border-right: 1px solid #727171;
          text-align: center;
          margin-top: 30px;
          color: #727171;
          position: relative; }
          .header .nav .navbar li a .erji {
            width: 98px;
            background: #fff;
            border-top: 5px solid #b71c22;
            position: absolute;
            top: 27px;
            left: 0;
            padding-top: 7px;
            display: none;
            z-index: 999; }
            .header .nav .navbar li a .erji span {
              display: block;
              text-align: center;
              line-height: 35px;
              font-size: 16px;
              color: #727070; }
            .header .nav .navbar li a .erji span:hover {
              color: #b71c22; }
      .header .nav .navbar li:last-child a {
        border: 0; }

.server {
  height: 286px;
  margin-bottom: 25px;
  box-sizing: border-box;
  border: 1px solid #e0e0e1;
  padding-left: 42px;
  padding-right: 42px; }
  .server .ser-s {
    height: 161px;
    padding-top: 35px; }
    .server .ser-s a:first-child {
      border-right: 1px solid #e0e0e1;
      width: 370px;
      height: 140px;
      float: left;
      overflow: hidden; }
      .server .ser-s a:first-child .ser-s1 {
        display: block;
        width: 36px;
        height: 40px;
        margin: 15px auto;
        background: url(../img/index/onlinecustomer.png) no-repeat center top; }
      .server .ser-s a:first-child .kf {
        overflow: hidden; }
        .server .ser-s a:first-child .kf .ser-s2 {
          width: 156px;
          height: 32px;
          background: #b81c22;
          display: block;
          margin: 18px auto;
          font-size: 12px;
          color: #ffffff;
          text-align: center;
          line-height: 32px; }
    .server .ser-s a:nth-child(2) {
      width: 372px;
      height: 140px;
      float: left;
      border-right: 1px solid #e0e0e1; }
      .server .ser-s a:nth-child(2) .ser-s3 {
        width: 40px;
        height: 40px;
        display: block;
        margin: 20px auto;
        background: url(../img/index/seven.png) no-repeat center top; }
      .server .ser-s a:nth-child(2) .ser-s4 {
        font-size: 12px;
        color: #727171;
        display: block;
        width: 124px;
        height: 54px;
        margin: 0 auto;
        text-align: center;
        line-height: 26px; }
    .server .ser-s p {
      width: 372px;
      height: 140px;
      float: left; }
      .server .ser-s p .ser-s5 {
        display: block;
        width: 100px;
        height: 100px;
        margin: 3px auto 14px;
        background: url(../img/index/2014_8_29_16_39_33_7709.jpg) no-repeat center/cover; }
      .server .ser-s p .ser-s6 {
        font-size: 12px;
        color: #727171;
        display: block;
        width: 126px;
        height: 20px;
        margin: 0 auto;
        text-align: center;
        line-height: 20px; }
        .server .ser-s p .ser-s6 .ser-s66 {
          font-weight: 100;
          color: #a10000; }
  .server .ser-x {
    height: 60px;
    background: #f8f8f8; }
    .server .ser-x li {
      float: left;
      height: 26px;
      border-right: 1px solid #dadadb;
      padding-left: 64px;
      padding-right: 64px;
      margin-top: 18px;
      line-height: 26px; }
      .server .ser-x li a {
        font-size: 12px;
        color: #323232; }
    .server .ser-x li:last-child {
      border-right: 0; }

.xian {
  height: 1px;
  background: #000;
  width: 100%;
  margin-bottom: 10px; }

.footer-f1 {
  width: 100%;
  height: 25px;
  margin-top: 10px;
  font-size: 12px;
  color: #3e3a39;
  text-align: center;
  line-height: 25px; }

.footer-f2 {
  width: 100%;
  height: 25px;
  font-size: 12px;
  color: #3e3a39;
  text-align: center;
  line-height: 25px; }

.footer-f3 {
  height: 46px;
  width: 730px;
  margin: 30px auto 25px; }
  .footer-f3 a {
    margin-right: 20px; }
  .footer-f3 a:first-child {
    display: inline-block;
    margin-top: 4px;
    width: 114px;
    height: 42px;
    background: url(../img/index/spritesbgtop.png) no-repeat 0px -582px; }
  .footer-f3 a:nth-child(2) {
    display: inline-block;
    width: 156px;
    height: 46px;
    background: url(../img/index/spritesbgtop.png) no-repeat 0px -629px; }
  .footer-f3 a:nth-child(3) {
    display: inline-block;
    margin-top: 4px;
    width: 92px;
    height: 42px;
    background: url(../img/index/spritesbgtop.png) no-repeat 0px -674px; }
  .footer-f3 a:nth-child(4) {
    display: inline-block;
    margin-top: 4px;
    width: 100px;
    height: 42px;
    background: url(../img/index/spritesbgtop.png) no-repeat -97px -674px; }
  .footer-f3 a:nth-child(5) {
    display: inline-block;
    margin-top: 4px;
    width: 42px;
    height: 42px;
    background: url(../img/index/spritesbgtop.png) no-repeat -202px -674px; }
  .footer-f3 a:nth-child(6) {
    display: inline-block;
    margin-top: 4px;
    width: 102px;
    height: 42px;
    background: url(../img/index/kexin_brand_for_others.png) no-repeat center/cover;
    margin-right: 0; }

.hui {
  width: 76px;
  height: 206px;
  position: fixed;
  left: 1240px;
  bottom: 50px;
  z-index: 33; }
  .hui li:first-child a {
    display: block;
    width: 76px;
    height: 78px;
    background: url(../img/index/baywindow.png) no-repeat 0 0; }
  .hui li:nth-child(2) a {
    display: block;
    width: 76px;
    height: 72px;
    background: url(../img/index/baywindow.png) no-repeat 0 -77px; }
  .hui li:nth-child(3) {
    cursor: pointer;
    width: 76px;
    height: 56px;
    background: url(../img/index/baywindow.png) no-repeat 0 -149px; }

.banner {
  height: 536px;
  position: relative; }
  .banner img {
    width: 100%;
    height: 536px;
    border: #000000;
    display: block; }
  .banner .lbtn2 {
    width: 18px;
    height: 54px;
    position: absolute;
    left: 12px;
    top: 237px;
    z-index: 2;
    display: block;
    background: url(../img/list/cslef.png) no-repeat -4px -3px; }
  .banner .rbtn2 {
    width: 20px;
    height: 54px;
    position: absolute;
    right: 12px;
    top: 237px;
    z-index: 2;
    display: block;
    background: url(../img/list/csrig.png) no-repeat -4px -3px; }

.kong3 {
  height: 45px; }

.nav-list {
  height: 54px;
  border: 1px solid #c7c7c7;
  background: #fbfbfb;
  box-sizing: border-box;
  margin-bottom: 15px;
  border-left: 0;
  border-right: 0; }
  .nav-list li {
    float: left;
    line-height: 54px; }
    .nav-list li a {
      font-size: 12px;
      color: #676767;
      margin-left: 20px;
      margin-right: 70px; }

.jk-warp {
  height: 1250px; }
  .jk-warp .jk-p {
    width: 380px;
    height: 710px;
    margin-right: 30px;
    float: left;
    margin-top: 47px;
    cursor: pointer; }
    .jk-warp .jk-p img {
      border: 0; }
  .jk-warp .jk-p:hover {
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
    transition: 0.2s; }
  .jk-warp p:nth-child(3) {
    margin-right: 0; }
  .jk-warp .jk-last {
    height: 446px;
    width: 1202px;
    margin-right: 0;
    cursor: default; }

.tux {
  height: 60px;
  background: url(../img/list/161012jk1.jpg) no-repeat 0 0; }

.jiake, .kaishan, .ym, .cq, .jhk, .pf {
  width: 1180px;
  margin: 0 auto;
  min-height: 300px;
  height: auto !important;
  height: 300px;
  padding-top: 14px;
  padding-left: 22px;
  overflow: hidden; }
  .jiake .jiake-li, .kaishan .jiake-li, .ym .jiake-li, .cq .jiake-li, .jhk .jiake-li, .pf .jiake-li {
    width: 260px;
    height: 320px;
    text-align: center;
    font-size: 12px;
    margin-right: 35px;
    margin-top: 7px;
    float: left;
    position: relative; }
    .jiake .jiake-li img, .kaishan .jiake-li img, .ym .jiake-li img, .cq .jiake-li img, .jhk .jiake-li img, .pf .jiake-li img {
      display: block;
      width: 100%;
      height: 260px;
      border: 0;
      cursor: pointer; }
    .jiake .jiake-li a, .kaishan .jiake-li a, .ym .jiake-li a, .cq .jiake-li a, .jhk .jiake-li a, .pf .jiake-li a {
      display: block;
      width: 260px;
      height: 30px;
      line-height: 30px;
      color: #676767; }
    .jiake .jiake-li span, .kaishan .jiake-li span, .ym .jiake-li span, .cq .jiake-li span, .jhk .jiake-li span, .pf .jiake-li span {
      height: 30px;
      width: 260px;
      color: #b80001;
      line-height: 30px; }
    .jiake .jiake-li .jiake-new, .kaishan .jiake-li .jiake-new, .ym .jiake-li .jiake-new, .cq .jiake-li .jiake-new, .jhk .jiake-li .jiake-new, .pf .jiake-li .jiake-new {
      display: block;
      width: 35px;
      height: 24px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      cursor: default; }

.wyx {
  height: 60px;
  background: url(../img/list/kswy.jpg) no-repeat 0 0;
  margin-top: 7px; }

.kaishan .kaishan-li {
  margin-top: 5px; }
  .kaishan .kaishan-li a {
    display: block;
    width: 260px;
    height: 26px;
    line-height: 26px;
    color: #676767; }
  .kaishan .kaishan-li span {
    height: 34px;
    width: 260px;
    color: #b80001;
    line-height: 34px; }
.kaishan .kaishan-li2 {
  height: 445px;
  width: 1202px;
  margin-left: -22px; }
  .kaishan .kaishan-li2 img {
    height: 100%; }

.xft {
  height: 60px;
  background: url(../img/list/161012xf1.jpg) no-repeat 0 0; }

.xf, .ym {
  width: 1182px;
  margin: 0 auto;
  height: 340px;
  padding-left: 20px; }
  .xf .xf-li, .ym .xf-li {
    float: left;
    width: 260px;
    height: 320px;
    text-align: center;
    font-size: 12px;
    margin-right: 35px;
    margin-top: 20px; }
    .xf .xf-li img, .ym .xf-li img {
      display: block;
      width: 100%;
      height: 260px;
      border: 0;
      cursor: pointer; }
    .xf .xf-li a, .ym .xf-li a {
      display: block;
      width: 260px;
      height: 30px;
      line-height: 30px;
      color: #676767; }
    .xf .xf-li span, .ym .xf-li span {
      height: 30px;
      width: 260px;
      color: #b80001;
      line-height: 30px; }

.ymt {
  height: 60px;
  background: url(../img/list/161012ymdy1.jpg) no-repeat 0 0;
  margin-top: 5px; }

.ym .ym-li {
  margin-top: 5px; }
  .ym .ym-li a {
    display: block;
    width: 260px;
    height: 26px;
    line-height: 26px;
    color: #676767; }
  .ym .ym-li span {
    height: 34px;
    width: 260px;
    color: #b80001;
    line-height: 34px; }
.ym .ym-li2 {
  height: 445px;
  width: 1202px;
  margin-left: -22px; }
  .ym .ym-li2 img {
    height: 100%; }

.cqt {
  height: 60px;
  background: url(../img/list/161012cqk1.jpg) no-repeat 0 0; }

.cq .cq-li a {
  height: 26px;
  line-height: 26px; }
.cq .cq-li span {
  height: 34px;
  line-height: 34px; }
.cq .cq-li .cq-h3 {
  width: 56px;
  height: 50px;
  background: #a10000;
  border-radius: 50%;
  position: absolute;
  bottom: 68px;
  right: 0;
  z-index: 9;
  padding-top: 6px; }
  .cq .cq-li .cq-h3 span {
    font-size: 14px;
    color: #fff;
    line-height: 20px; }

.jht {
  height: 60px;
  background: url(../img/list/161012jhk1.jpg) no-repeat 0 0;
  margin-top: 5px; }

.jhk .jhk-li {
  margin-top: 5px; }
  .jhk .jhk-li a {
    height: 26px;
    line-height: 26px; }
  .jhk .jhk-li span {
    height: 34px;
    line-height: 34px; }
.jhk .jhk-li2 {
  height: 445px;
  width: 1202px;
  margin-left: -22px; }
  .jhk .jhk-li2 img {
    height: 100%; }

.pfyt {
  height: 60px;
  background: url(../img/list/161012pfy1.jpg) no-repeat 0 0; }

.pf .pf-li {
  margin-top: 5px; }
  .pf .pf-li a {
    height: 26px;
    line-height: 26px; }
  .pf .pf-li span {
    height: 34px;
    line-height: 34px; }
  .pf .pf-li .pf-h3 {
    width: 56px;
    height: 50px;
    background: #a10000;
    border-radius: 50%;
    position: absolute;
    bottom: 68px;
    right: 0;
    z-index: 9;
    padding-top: 6px; }
    .pf .pf-li .pf-h3 span {
      font-size: 14px;
      color: #fff;
      line-height: 20px; }

.back-s {
  height: 270px;
  margin-top: 56px;
  margin-bottom: 32px; }
  .back-s img {
    display: block;
    border: 0; }

.hui-list {
  width: 26px;
  height: 92px;
  background: url(../img/list/go2top.png) no-repeat 0 0;
  margin: 0 auto;
  border-radius: 3px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  cursor: pointer; }

.ttu:hover {
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
  transform: translateY(-1px); }

/*# sourceMappingURL=list.css.map */
