@charset "utf-8";
body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend,figure,figcaption{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{ font-family:"微软雅黑";}
input{outline:none;}


@font-face {
    font-family:one;
    src: url(../font/iconfont.ttf),
    url(../font/iconfont.svg),
    url(../font/iconfont.woff),
    url(../font/iconfont.eot);
}
em{
    font-family: one;
    font-style: normal;
}

#top{
    width: 100%;
    background: pink;
    border-bottom:1px solid #cccccc ;
    background: #f7f7f7;
}
.top,.header,.banner,.fan,.fall,.fall-content,.youx,.xiaz,.jinp,.server,.footer-f3,.lg-1,.xian2,.lg-content,.zc-content,.nav-list,.jk-warp,.ttu,.back-s,.det-ban,.xqjs,.mtt-1,.pl{
    width: 1202px;
    margin: 0 auto;
}
.top{  
    height: 33px;   
    //border: 1px solid #000;
    ul{
        float: right;        
        li{
            float: left;
            position: relative;
            //border: 1px solid #f00;
            margin-right: 14px;
            line-height: 33px;
            font-size: 12px;
            color: #808080;    
            a{
                text-decoration: none;
                font-size: 12px;
                color: #808080;
                //border: 1px solid #f00;
            }
        }
        li:nth-child(6){            
           a{               
               background: url(../img/index/notice.png) no-repeat left center;
               padding-left: 26px;                  
           }
        }
        li:last-child{
            margin-right: 0;
            width: 42px;
            height: 33px;
            //border: 1px solid #000;
            line-height: 33px;
            cursor:pointer;
            span:first-child{
                display: inline-block;
                width: 18px;
                height: 18px;
                //border: 1px solid #000;
                background: url(../img/index/w1.jpg) no-repeat left center; 
                margin-top: 7px;      
            }
            span:last-child{
                display: inline-block;
                width: 18px;
                height: 18px;
                //border: 1px solid #000;
                background: url(../img/index/w2.jpg) no-repeat right center;       
            }
        }
        li:first-child{
            margin-right: 20px;
        }
    }
    .wxer{
        width: 150px;
        height: 159px;
        border: 1px solid #e6e6e6;
        box-sizing: border-box;
        display: none;
        position: absolute;
        right: 20px;
        top:32px;
        padding-top: 9px;
        //text-align: center;
        background: #fff;
        z-index: 999;
        img{
            width: 117px;
            height: 117px;
            display: block;
            border: 0;
            margin: 0 auto;
        }
        b{
            font-weight: 100;
            font-size: 12px;
            color: #686868;
            display: block;
            text-align: center;
            height: 22px;
            width: 148px;
            line-height: 22px;
        }
        #w{
            width: 148px;
            height: 22px;
            background: #bc211c;
            display: block;
            text-align: center;
            line-height: 22px;
            font-size: 14px;
            color: #fff;
            letter-spacing: 10px;
            text-indent: 3px;
        }
    }
}
.header{
    height: 138px;
    //border: 1px solid #000000;
    background: #fff;
    padding-top: 28px;
    position: relative;
    .car{        
        float: right;
        width: 108px;
        height: 30px;
        position: relative;
//      background: #b81b22;
        background: url(../img/index/vanclsprite.png) no-repeat -153px 0;
        box-sizing: border-box;
        border: 1px solid #c1383e;
//      border-bottom:1px solid #fff;
        line-height: 30px;
        text-indent: 40px;
        color: #fff;
        font-size: 12px;
        cursor: pointer;
        margin-left: 22px;
        z-index: 100;        
    }
    .car-xd{
        display: none;
        position: absolute;
        top: 57px;
        right: 0;
        height: 20px;
        width: 315px;
        font-size: 12px;
        color: #333;
        border: 1px solid #a10000;
        background: #fff;
        text-indent: 4px;
    }
    form{
        width: 310px;
        height: 30px;
        border: 1px solid #c9caca;
        box-sizing: border-box;
        border-right:0;
        float: right;
        input:first-child{
            width:260px ;
            height: 28px;
            border: 0;
            box-sizing: border-box;
            float: left;
            font-size: 12px;
            color: #000;
            text-indent: 5px;
        }
        input:last-child{
            margin-top: -1px;
            width: 49px;
            height: 30px;
            box-sizing: border-box;
            border: 1px solid #c9caca;
            background: #b81c20;
            float: left;
            font-size: 14px;
            color: #fff;
        }
    }
    .hot{
        //border: 1px solid #000000;
        height: 28px;
        float: right;
        width: 440px;
        clear: both;
        text-indent: 2px;
        li{
            float: left;
            line-height: 28px;
            margin-left: 11px;
            font-size: 12px;
            color: #727171;
            a{
                font-size: 12px;
                color: #727171;
                text-decoration: none;
            }
        }
    }
    .nav{
        width: 100%;
        //background: yellowgreen;
        clear: both;
        float: right;
        height: 80px;
        //overflow: hidden;
        .logo{
            width: 184px;
            height: 44px;
           // background: gold;
            //border: 1px solid #000;
            margin-top: 4px;
            margin-left: 2px;
            float: left;
            img{
                border: #000000;
                display: block;
            }
        }
        .navbar{
            float:left;
            margin-left: 10px;
            li{
                float: left;
                //font-size: 16px;
                height: 80px;
                //border: 1px solid #000000;
                 //line-height: 78px;
                a{
                    display: block;
                    width: 98px;
                    height: 18px;
                    font-size: 16px;
                    //margin-right: 1px;
                    border-right: 1px solid #727171;
                    text-align: center;
                    //line-height: 78px;
                    margin-top: 30px;
                    color: #727171;
                    position: relative;
                    .erji{
                        width: 98px;
                        background: #fff;
                        border-top: 5px solid #b71c22;
                        position: absolute;
                        top :27px;
                        left: 0;
                        padding-top: 7px;
                        display: none;
                        z-index: 999;
                        span{
                            display: block;
                            text-align: center;
                            line-height: 35px;
                            font-size: 16px;
                            color: #727070;
                        }
                        span:hover{
                            color: #b71c22;
                        }
                    }
                }
            }
            li:last-child{ 
                a{
                    border: 0;
                }
                
            }
        }
    }
}
.server{
    height: 286px;
    //background: pink;
    margin-bottom: 25px;
    box-sizing: border-box;
    border: 1px solid #e0e0e1; 
    padding-left: 42px; 
    padding-right: 42px;  
    .ser-s{
        height: 161px;
        //background: red;
        padding-top: 35px;
        //padding-left: 42px;
        a:first-child{
            //display: block;
            border-right: 1px solid #e0e0e1 ;
            width: 370px;
            height: 140px;
            //background: gold;
            float: left;
            overflow: hidden;
            .ser-s1{
                display: block;
                width: 36px;
                height: 40px;
                //border: 1px solid #000;
                margin: 15px auto;
                background: url(../img/index/onlinecustomer.png) no-repeat center top;
            }
            .kf{
                overflow: hidden;
                //background: gold;
                .ser-s2{
                    width: 156px;
                    height: 32px;
                    background: #b81c22;
                    //border: 1px solid #000;
                    display: block;
                    margin: 18px auto;
                    font-size: 12px;
                    color: #ffffff;
                    text-align: center;
                    line-height: 32px;
                }
            }
        }
        a:nth-child(2){
            width: 372px;
            height: 140px;
            //background: cyan;
            float: left;
            border-right: 1px solid #e0e0e1 ;
            .ser-s3{
                width: 40px;
                height: 40px;
                display: block;
                //border: 1px solid #000;
                margin: 20px auto;
                background: url(../img/index/seven.png) no-repeat center top;                
            }
            .ser-s4{
                font-size: 12px;
                color: #727171;
                display: block;                
                width: 124px;
                height: 54px;
                margin: 0 auto;
                text-align: center;
                line-height: 26px;
            }
        }
        p{
            width: 372px;
            height: 140px;
            //background: burlywood;
            float: left;
            .ser-s5{
                display: block;
                width: 100px;
                height: 100px;
                margin: 3px auto 14px;
                background: url(../img/index/2014_8_29_16_39_33_7709.jpg) no-repeat center/cover;
                
            }
            .ser-s6{
                font-size: 12px;
                color: #727171;
                display: block;
                width: 126px;
                height: 20px;
                margin: 0 auto;
                text-align: center;
                line-height: 20px;
                .ser-s66{
                    font-weight: 100;
                    color: #a10000;
                }
            }
        }
    }
    .ser-x{
        height: 60px;
        background: #f8f8f8;
        //padding-left: 42px;
        //padding-right: 42px;
        //line-height: 60px;
        li{
            float: left;
            height: 26px;
            border-right: 1px solid #dadadb;
            padding-left: 64px;
            padding-right:64px ;
            margin-top: 18px;
            line-height: 26px;            
            a{
                //border: 1px solid #00FFFF;
                font-size: 12px;
                color: #323232;
            }
        }
        li:last-child{
            border-right: 0;
        }
    }
}
.xian{
    height: 1px;
    background: #000;
    width: 100%;
    margin-bottom: 10px;
}
.footer-f1{
    width: 100%;
    height: 25px;
    margin-top: 10px;
    font-size: 12px;
    color: #3e3a39;
    text-align: center;
    line-height: 25px;
}
.footer-f2{
    width: 100%;
    height: 25px;
    font-size: 12px;
    color: #3e3a39;
    text-align: center;
    line-height: 25px;
}
@mixin public3($width,$height,$x,$y){
    display: inline-block;
    margin-top: 4px;
    width: $width;
    height: $height;
    background:url(../img/index/spritesbgtop.png) no-repeat $x $y;
}
.footer-f3{
    height: 46px;
    width: 730px;
    //border: 1px solid #000000;
    margin: 30px auto 25px;
    a{
        margin-right: 20px;
    }
    a:first-child{
        @include public3(114px,42px,0px,-582px);
    }
    a:nth-child(2){
        display: inline-block;
        width: 156px;
        height: 46px;
        //border: 1px solid #f00;
        background:url(../img/index/spritesbgtop.png) no-repeat 0px -629px;
    }
    a:nth-child(3){
        @include public3(92px,42px,0px,-674px);
    }
    a:nth-child(4){
        @include public3(100px,42px,-97px,-674px);
    }
    a:nth-child(5){
        @include public3(42px,42px,-202px,-674px);
    }
    a:nth-child(6){
        display: inline-block;
        margin-top: 4px;
        width: 102px;
        height: 42px;
        //border: 1px solid #f00;
        background:url(../img/index/kexin_brand_for_others.png) no-repeat center/cover;
        margin-right: 0;
    }
}
.hui{
    width: 76px;
    height: 206px;
    //border: 1px solid #000;
    position: fixed;
    left: 1240px;
    bottom: 50px;
    z-index: 33;
    //margin: 50px auto;
    li:first-child{
        a{
            display: block;
            width: 76px;
            height: 78px;
            background:url(../img/index/baywindow.png) no-repeat 0 0 ;
        } 
    }
    li:nth-child(2){
        a{
            display: block;
            width: 76px;
            height: 72px;
            background:url(../img/index/baywindow.png) no-repeat 0 -77px;
        } 
    }
    li:nth-child(3){
        cursor: pointer;
        width: 76px;
        height: 56px;
        background:url(../img/index/baywindow.png) no-repeat 0 -149px; 
    }    
}
