@charset "utf-8";
@import "main.scss";

.banner{
    height: 536px;
    //background: yellowgreen;
    //border: 1px solid #000;
    position: relative;
//  border: 1px solid #000;
    img{
        width: 100%;
        height:536px;
        border: #000000;
        display: block;        
    }
    #lbtn{
        width: 18px;
        height: 54px;
        //border: 1px solid #1B6D85;
        position: absolute;
        left: 12px;
        top: 237px;
        z-index: 2;
        display: block;
        background: url(../img/index/focus_lr0918.png) no-repeat -2px -5px;        
    }
    #lbtn:hover{
        background: url(../img/index/focus_lr0918.png) no-repeat -2px -67px;
    }
    #rbtn{
        width: 20px;
        height: 54px;
        //border: 1px solid #1B6D85;
        position: absolute;
        right: 12px;
        top: 237px;
        z-index: 2;
        display: block;
        background: url(../img/index/focus_lr0918.png) no-repeat -60px -5px;
        
    }
    #rbtn:hover{
        background: url(../img/index/focus_lr0918.png) no-repeat -60px -67px;
    }
    .ol{
        position: absolute;
        bottom: 22px;
        left: 50%;
        cursor: pointer;
        //-webkit-transform: translateX(-50%);
        //background: rgba(255,255,255,.6);
        //border-radius: 7px;
        //padding: 3px;
        //background: pink;
        z-index: 999;
        .ollis{
            background: red;
            float: left;
            width: 12px;
            height: 12px;
            margin-left: 0px;
            border-radius: 50%;
            margin-right: 8px;
            z-index: 9999;
        }
    }
}
.kong{
    width: 100%;
    height: 54px;
    background: #fff;
}
.fan{
    height: 54px;
    background: url(../img/index/fan.jpg) no-repeat center top;
    cursor: pointer;
}
.kong2{
    height: 75px;
    background: #fff;
}
.fall{
    height: 56px;
    background: url(../img/index/51.jpg) no-repeat center top;
    span{
        display: block;
        width: 298px;
        height: 56px;
        cursor: pointer;
        float: right;
    }
}
.fall-content{
    height: 390px;
    //background: gold;
    padding-top: 80px;
    margin-bottom: 45px;
    .fall-content2{
        height: 392px;
        width: 100%;
        //border: 1px solid #000;
        padding-left: 22px;
        a{
            width: 268px;
            height: 392px;
            display: block;
            float: left;
            margin-right: 28px;
            img{
                border: 0;
                display: block;
                width: 268px;
                height: 392px;
            }
        }
    }
}
.kong3{
    height: 110px;
    width: 100%;
    background: #fff;
    text-align: center;
    line-height: 110px;
    font-size: 18px;
    color: #9a9a9a;
    //border: 1px solid #000;
}
@mixin public($height,$width){
    p{
        height: $height;
        a{
            display: block;
            img{
                width: $width;
                height: $height;
                display: block;
                border: 0;
            }
        }
    }
    
}
@mixin public2($width){
    .chozhi{
            width:$width;
            height: 70px;
            box-sizing: border-box;
            border: 1px solid #e8e7ec;
            border-top: 0;
            display: block;
            line-height: 70px;
            b:first-child{
                color: #333333;
                font-size: 14px;
                font-weight: 100;
                float: left;
                margin-left: 14px;
            }
            b:last-child{
                color: #a10000;
                font-size: 14px;
                font-weight: 100;
                float: right;
                margin-right: 14px;
            }
        }
}
.youx{
    height: 1040px;
    //background: cyan;
    margin-bottom: 16px;
   // border: 1px solid #000;
    .youx-top{
        height: 516px;
        width: 100%;
        //background: pink;
        margin-bottom: 16px;
        .y-t1{
            width: 590px;
            height: 510px;
            float: left;
            margin-right: 17px;
            @include public(440px,590px);
//          p{
//              height: 440px;
//              a{
//                  display: block;
//                  img{
//                      width: 590px;
//                      height: 440px;
//                      display: block;
//                      border: 0;
//                  }
//              }
//          }
            @include public2(590px);
//          .chozhi{
//              width:590px;
//              height: 70px;
//              box-sizing: border-box;
//              border: 1px solid #e8e7ec;
//              border-top: 0;
//              display: block;
//              line-height: 70px;
//              b:first-child{
//                  color: #333333;
//                  font-size: 14px;
//                  font-weight: 100;
//                  float: left;
//                  margin-left: 14px;
//              }
//              b:last-child{
//                  color: #a10000;
//                  font-size: 14px;
//                  font-weight: 100;
//                  float: right;
//                  margin-right: 14px;
//              }
//          }
        }
        .y-t2{
            height: 516px;
            width: 290px;
            float: left;
            margin-right: 17px;
            .y-t2-s{
                height: 250px;
                @include public(180px,290px);
                @include public2(290px);
            }
            .y-t2-x{
                height: 266px;
                @include public(196px,290px);
                @include public2(290px);
            }
        }
        .y-t3{
            width: 288px;
            height: 510px;
            //background: red;
            float: left;
            @include public(440px,288px);
            @include public2(288px);
        }
    }
    .youx-bot{
        height: 510px;
        //background: greenyellow;
        .y-b1{            
            height: 510px;
            float: left;
            width: 590px;
            margin-right: 17px;
            @include public(440px,590px);
            @include public2(590px);
        }
        .y-b2{
            height: 510px;
            float: left;
            width: 290px;
            margin-right: 17px;
            .y-b2-s{
                height: 250px;
                margin-bottom: 16px;
                @include public(180px,290px);
                @include public2(290px);
            }
            .y-b2-x{
                height: 245px;
                @include public(176px,290px);
                @include public2(290px);
            }
        }
        .y-b3{
            height:510px ;
            width: 287px;
            float: left;
            @include public(440px,287px);
            @include public2(287px);
        }
    }
}
.xiaz{
    height: 510px;
    //background: yellowgreen;
    margin-bottom: 22px;
    .xz{
        width: 286px;
        height: 510px;
        //background: goldenrod;
        float: left;
        margin-right: 18px;
        @include public(440px,286px);
        @include public2(286px);
    }
    .x-z1{
        margin-right: 0;
        margin-left: 3px;
    }
}
.jinp{
    height: 610px;
    //background: yellowgreen;
    //margin-bottom: 10px;
    .jinp-s{
        height: 276px;
        //background: goldenrod;
        .j-c1{
            width: 386px;
            height: 276px;
            //background: pink;
            float:left ;
            @include public(276px,386px);
        }
        .j-c2{
            width: 374px;
            height:276px;
            //background:greenyellow ;
            float: left;
            @include public(276px,374px);
        }  
        .j-c3{
            width: 442px;
            height: 276px;
            //background: gray;
            float: left;
            @include public(276px,442px);
        }  
    }
    .jing-x{
        height: 335px;
        //background: burlywood;
        .j-c4{
            width: 386px;
            height: 283px;
            //background: gray;
            float: left;
            padding-top: 52px;
            @include public(250px,386px);
        }
        .j-c5{
            width: 374px;
            height: 300px;
            //background: gray;
            padding-top: 35px;
            float: left;
            @include public(268px,374px);
        }  
        .j-c6{
            width: 442px;
            height: 283px;
            //background: gray;
            float: left;
            padding-top: 52px;
            @include public(250px,442px);
        }    
    }
}
//.server{
//  height: 286px;
//  //background: pink;
//  margin-bottom: 25px;
//  box-sizing: border-box;
//  border: 1px solid #e0e0e1; 
//  padding-left: 42px; 
//  padding-right: 42px;  
//  .ser-s{
//      height: 161px;
//      //background: red;
//      padding-top: 35px;
//      //padding-left: 42px;
//      a:first-child{
//          //display: block;
//          border-right: 1px solid #e0e0e1 ;
//          width: 370px;
//          height: 140px;
//          //background: gold;
//          float: left;
//          overflow: hidden;
//          .ser-s1{
//              display: block;
//              width: 36px;
//              height: 40px;
//              //border: 1px solid #000;
//              margin: 15px auto;
//              background: url(../img/index/onlinecustomer.png) no-repeat center top;
//          }
//          .kf{
//              overflow: hidden;
//              //background: gold;
//              .ser-s2{
//                  width: 156px;
//                  height: 32px;
//                  background: #b81c22;
//                  //border: 1px solid #000;
//                  display: block;
//                  margin: 18px auto;
//                  font-size: 12px;
//                  color: #ffffff;
//                  text-align: center;
//                  line-height: 32px;
//              }
//          }
//      }
//      a:nth-child(2){
//          width: 372px;
//          height: 140px;
//          //background: cyan;
//          float: left;
//          border-right: 1px solid #e0e0e1 ;
//          .ser-s3{
//              width: 40px;
//              height: 40px;
//              display: block;
//              //border: 1px solid #000;
//              margin: 20px auto;
//              background: url(../img/index/seven.png) no-repeat center top;                
//          }
//          .ser-s4{
//              font-size: 12px;
//              color: #727171;
//              display: block;                
//              width: 124px;
//              height: 54px;
//              margin: 0 auto;
//              text-align: center;
//              line-height: 26px;
//          }
//      }
//      p{
//          width: 372px;
//          height: 140px;
//          //background: burlywood;
//          float: left;
//          .ser-s5{
//              display: block;
//              width: 100px;
//              height: 100px;
//              margin: 3px auto 14px;
//              background: url(../img/index/2014_8_29_16_39_33_7709.jpg) no-repeat center/cover;
//              
//          }
//          .ser-s6{
//              font-size: 12px;
//              color: #727171;
//              display: block;
//              width: 126px;
//              height: 20px;
//              margin: 0 auto;
//              text-align: center;
//              line-height: 20px;
//              .ser-s66{
//                  font-weight: 100;
//                  color: #a10000;
//              }
//          }
//      }
//  }
//  .ser-x{
//      height: 60px;
//      background: #f8f8f8;
//      //padding-left: 42px;
//      //padding-right: 42px;
//      //line-height: 60px;
//      li{
//          float: left;
//          height: 26px;
//          border-right: 1px solid #dadadb;
//          padding-left: 64px;
//          padding-right:64px ;
//          margin-top: 18px;
//          line-height: 26px;            
//          a{
//              //border: 1px solid #00FFFF;
//              font-size: 12px;
//              color: #323232;
//          }
//      }
//      li:last-child{
//          border-right: 0;
//      }
//  }
//}
/*-------------------------------登录----------------------------------*/
.lg-1{
    height: 53px;
    //background: red;
    padding-top: 17px;
    padding-left: 6px;
    .lg-logo{
        float: left;
        a{
            display: block;
            width: 178px;
            height: 44px;
            //background: yellowgreen;
            img{
                border: 0;
                display: block;
            }
        }
    }
    .bz{
        float: right;
        margin-right: 6px;
        margin-top: 11px;
        line-height: 33px;
        font-size: 12px;
        color: #000000;
    }
}
.xian2{
    height: 1px;
    background: #7a7f89;
}
@mixin public4{
    display: inline-block;
    width:35px ;
    height: 35px;
    margin-right: 12px;
    //border: 1px solid #000;
}
.lg-content{
    height: 523px;
    //background: pink;
    .lg-con-lt{
        width: 698px;
        height: 523px;
        //background: yellowgreen;
        float: left;
        .lg-img{
            width: 466px;
            height: 352px;
            margin-top: 92px;
            margin-left: 150px;
            //border: 1px solid #000;
            img{
                border: 0;
                display: block;
            }
        }
    }
    .lg-con-rt{
        width: 504px;
        height: 523px;
        float: left;
        //background: goldenrod;
        .lg-rt-con{
            width: 404px;
            height: 470px;
            //border: 1px solid #000;
            margin-top: 33px;
            h3{
                width: 404px;
                height: 60px;
                //background: deeppink;
                line-height: 60px;
                span:first-child{
                    float: left;
                    font-size: 24px;
                    color: #979797;
                    text-indent: 4px;
                }
                span:last-child{
                    float: right;
                    font-size: 12px;
                    color: #979797;
//                  b{
//                      font-size: 12px;
//                      color: #b42025;
//                      cursor: pointer;
//                      
//                  }
                }
            }
            .form-dl{
                width: 404px;
                height: 410px;
                //background: cyan;
                border: 1px solid #d1d1d1;
                box-sizing: border-box;
                .for-top1{
                    width: 404px;
                    height: 36px;
                    //background: darkcyan;
                    box-sizing: border-box;
                    //margin-bottom: 10px;
                    .for-span{
                        border-bottom: 1px solid #cbcbcb;
                        display: block;
                        width: 201px;
                        height: 36px;
                        float: left;
                        text-align: center;
                        line-height: 36px;   
                        background: #f5f5f5; 
                        font-size: 12px;
                        color: #656565;
                        cursor: pointer;                    
                    }
                    span:first-child{
                        background: #b42025;
                        color: #ecf1ff;
                    }
                }
                .for-bot1{
                    //display: none;
                    width: 362px;
                    height: 265px;
                    padding-top: 10px;
                    padding-left: 22px;
                    padding-right: 20px;
                    //background: green;
                    border-bottom: 1px dotted #909090;
                    input{
                        display: block;
                        margin-top: 18px;
                        width: 364px;
                        height: 50px;
                        border: 1px solid #cbcbcb;
                        font-size: 14px;
                        color: #acacac;
                        text-indent: 12px;
                    }
                    .zh{                        
                       // border: 1px solid #000;
                        margin-top: 17px;
                        font-size: 14px;
                        color: #b42025;
                        float: right;
                        line-height: 30px;
                    }
                    .dl-1{
                        display: block;
                        clear: both;
                        width: 364px;
                        height: 46px;
                        background: #b42025;
                        border: 0;
                        font-size: 18px;
                        color: #fff;
                        cursor: pointer;
                    }
                }
                .for-biao-1{
                        width: 382px;
                        height: 88px;
                        //background: darkslategray;
                        padding-top: 10px;
                        padding-left: 22px;
                        //border: 1px solid #000;
                        .for-biao-p1{
                            font-size: 14px;
                            line-height: 34px;
                            color: #a4a4ac;
                        }
                        .for-biao-p2{
                            height: 35px;
                            //background: red;
                            .for-biao-p2-t1{
                                @include public4;
                                background: url(../img/index/logos.jpg) no-repeat 0 0;
                            }
                            .for-biao-p2-t2{
                                @include public4;
                               background: url(../img/index/logos.jpg) no-repeat -48px 0;
                            }
                            .for-biao-p2-t3{
                                @include public4;
                                background: url(../img/index/logos.jpg) no-repeat -93px 0;
                            }
                            .for-biao-p2-t4{
                                @include public4;
                                background: url(../img/index/logos.jpg) no-repeat -147px 0;
                            }
                            .for-biao-p2-t5{
                                @include public4;
                                background: url(../img/index/logos.jpg) no-repeat -190px 0;
                            }
                            .for-biao-p2-t6{
                                @include public4;
                                background: url(../img/index/logos.jpg) no-repeat -228px 0;
                            }
                        }
                    }
                  .for-bot2{
                        display: none;
                        width: 362px;
                        height: 265px;
                        padding-top: 10px;
                        padding-left: 22px;
                        padding-right: 20px;
                        //background: green;
                        border-bottom: 1px dotted #909090;
                        input{
                            height: 46px;
                        }
                        #phone{
                            display: inline-block;
                            width: 250px;                           
                            border: 1px solid #dcdcdc;
                            float: left;
                            margin-right: 10px;
                        }
                        .phone-spa{
                            height: 46px;
                            border: 1px solid #dcdcdc;
                            width: 98px;
                            float: left;
                        }
                        #yan{
                            margin-top: 18px;
                            width: 146px;                          
                            border: 1px solid #dcdcdc;
                            float: left;
                            //margin-right: 2px;
                        }
                        .yan-spa{
                            margin-top: 18px;
                            width: 110px;
                            height: 48px;
                            border: 1px solid #dcdcdc;
                            float: left;
                        }
                        .yan-spa2{
                            display: inline-block;
                            margin-top: 18px;
                            //border: 1px solid #000;
                            height: 46px;
                            font-size: 12px;
                            color: #000000;
                        }
                        #sjyzm{
                            width: 364px;
                            margin-top: 18px;
                        }
                        .dl-2{
                            display: block;
                            clear: both;
                            width: 364px;
                            height: 46px;
                            background: #b42025;
                            border: 0;
                            font-size: 18px;
                            color: #fff;
                            margin-top: 18px;
                            cursor: pointer;
                        }
                    }
            }
        }
    }
}
//底部登录页修改
.footer-f11{
    height: 54px;
    line-height: 54px;
    margin-top: 5px;
}
.footer-f4{
    width: 558px;
    height: 46px;
    margin: 0 auto 24px;
}

    

/*-------------------------------注册----------------------------------*/
.zc-content{
    height: 526px;
    //background: pink;
    margin-bottom: 57px;
    .zc-con-lt{
        width: 686px;
        height: 526px;
        //background: yellow;
        float: left;
        .lg-imgt{
            margin-top: 92px;
            margin-left: 130px;
        }
    }
    .zc-con-rt{
        width: 516px;
        height: 526px;
        //background: greenyellow;
        float: left;
        .zc-con-rt-top{
            padding-top: 22px;
            width: 420px;
            height: 504px;
            //background: red;
            .zc-con-top{
                width: 420px;
                height: 60px;
                //background: gold;
                box-sizing: border-box;
                border-bottom: 2px solid #b81e20;
                //padding-top: 22px;                
                .zc-con-top-h3{
                    //margin-top: 22px;
                    font-size: 20px;
                    color: #a2a2a2;
                    float: left;
                    line-height: 40px;
                    //border: 1px solid #000;
                    margin-top: 20px;
                }
                .zc-con-top-sp{
                    float: right;
                    font-size: 12px;
                    color: #a2a2a2;
                    line-height: 40px;
                     margin-top: 20px;
                    b{
                        color: red;
                        font-weight: 100;
                        cursor: pointer;
                    }
                }
            }
            .for-zc{
                position: relative;
                display: block;
                padding-top: 20px;
                width: 413px;
                height: 424px;
                //background: cyan;
                padding-left: 7px;  
                p{
                    height: 44px;
                }  
                input{
                     text-indent: 12px; 
                }        
                #yzm{                    
                    margin-top: 17px;
                    height:44px;
                    width: 260px;
                    border: 1px solid #cbcbcb;
                    float: left;
                    margin-right: 5px;
                }
                .yzm-spa{
                    margin-top: 17px;
                    width:140px;
                    height: 44px;
                    border: 1px solid #cbcbcb;
                    float: left;
                    font-size: 24px;
                    letter-spacing: 5px;
                    font-weight: bolder;
                    line-height: 44px;
                    color: #961d22;
                    cursor: pointer;
                }
                #phone2{
                    margin-top: 17px;
                    height:44px;
                    width: 260px;
                    border: 1px solid #cbcbcb;
                    float: left;
                    margin-right: 5px;
                    clear: both;
                    //margin-bottom: 17px;
                }
                .phone2-spa{
                    margin-top: 17px;
                    width:140px;
                    height: 44px;
                    border: 1px solid #cbcbcb;
                    float: left;
                    color: #b41f24;
                    font-size: 12px;
                    line-height:44px;
                    text-align: center;
                    background: #f5f5f5;
                    margin-bottom: 17px;
                    cursor: pointer;
                }
                #zpe{
                    //margin-top: 17px;
                    display: block;
                    width: 410px;
                    height: 44px;
                    border: 1px solid #cbcbcb;
                }
                #spwd,#zspwd{
                    display: block;
                    width: 410px;
                    height: 44px;
                    border: 1px solid #cbcbcb;
                    margin-top: 17px;
                }
                .for-spa{
                    display: block;
                    height: 44px;
                    width: 410px;
                    //border: 1px solid #000;
                    margin-top: 8px;
                    line-height: 44px;
                    font-size: 12px;
                    color: #9d9d9d;
                    #cx{
                        vertical-align: middle;
                    }
                    a{
                        color: #b52024;
                        font-size: 12px;
                    }
                }
                .zc-btn{
                    width: 410px;
                    height: 44px;
                    background: #9a9a9a;
                    border: 0;
                    font-size: 14px;
                    color: #ffffff;
                    cursor: pointer;
                }
                .active1{
                    background: #b52024;
                }
            }
        }        
    }
}
